p {
	color: navy;
}

p.info {
	font-size:small;
	background-color:#dfdfdf;
}

h1 {
	background-color: white;
	text-shadow: navy;
}

h2 {
	
	margin: 5px;
	font-family:cursive;
	color:#3f3faf;
	background:linear-gradient(to right,white,#ffefaf);

}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px;
	grid-gap:10px;
	width: 1024px;
}

div#zentai > div {
	padding-left: 5px;
	background-color: #ffefaf;
}
img{
	float:right;
}